.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 20px;
}

.card {
  position: relative;
  height: 100px;
  width: 100px;

  .content {
    display: grid;
    place-content: center;
    color: white;
    font-size: large;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: 2px solid #fff;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .front {
    transform: rotateY(90deg);
    transition: all 0.2s;
    position: absolute;
    background-color: blue;
  }

  .back {
    transition: all 0.2s;
    transition-delay: 0.2s;
    background-color: black;
  }

  .flipped {
    &.front {
      transform: rotateY(0deg);
      transition-delay: 0.2s;
    }

    &.back {
      transform: rotateY(90deg);
      transition-delay: 0s;
    }
  }
}
